@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="jumbotron" style="background-color: LightCyan">
    <h1 class="text-center"><img src="\image\@(Model.League.LeagueId)\@(Model.League.LeagueId).png" alt="NFL" />@(Model.League.Name)</h1>
</div>
<div class="jumbotron">
        @foreach(Conference c in Model.Conferences)
    {
        <h2>
            <a asp-page="/privacy">@c.Name</a>
        </h2>
    }
</div>

